tensorflow==2.13.0
keras==2.13.1
streamlit==1.26.0
numpy==1.24.3
pillow==9.5.0
absl-py>=1.0.0
astunparse>=1.6.0
flatbuffers>=23.1.21
gast<=0.4.0,>=0.2.1
google-pasta>=0.1.1
grpcio<2.0,>=1.24.3
h5py>=2.9.0
libclang>=13.0.0
opt-einsum>=2.3.2
packaging
protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3
setuptools
six>=1.12.0
tensorboard<2.14,>=2.13
tensorflow-estimator<2.14,>=2.13.0
termcolor>=1.1.0
typing-extensions<4.6.0,>=3.6.6
wrapt>=1.11.0
tensorflow-io-gcs-filesystem>=0.23.1
altair<6,>=4.0
blinker<2,>=1.0.0
cachetools<6,>=4.0
click<9,>=7.0
importlib-metadata<7,>=1.4
pandas<3,>=1.3.0
rich>=10.14.0
markdown-it-py>=2.2.0
pygments<3.0.0,>=2.13.0
mdurl~=0.1